In [1]:

str1 = "Come over here!"  # True
str2 = "What's up, Doc?"  # False

print(str1.endswith('!'))
print(str2.endswith('!'))

True
False

In [2]:
famous_words = "seven years ago..."

gettysburg_words = "Four score and " + famous_words

print(gettysburg_words)

Four score and seven years ago...

In [4]:
famous_words = "seven years ago..."
beginning_words = "Four score and "
gettysburg_words = beginning_words + famous_words

print(gettysburg_words)

Four score and seven years ago...

In [5]:
munsters_description = "the Munsters are CREEPY and Spooky."

print(munsters_description.capitalize())

The munsters are creepy and spooky.

In [6]:
munsters_description = "The Munsters are creepy and spooky."

print(munsters_description.swapcase())

tHE mUNSTERS ARE CREEPY AND SPOOKY.

In [7]:
str1 = "Few things in life are as important as house training your pet dinosaur."
str2 = "Fred and Wilma have a pet dinosaur named Dino."

print('Dino' in str1)
print('Dino' in str2)

False
True

In [8]:
flintstones = ["Fred", "Barney", "Wilma", "Betty", "Bambam", "Pebbles"]

flintstones.append("Dino")
print(flinstones)

NameError: name 'flinstones' is not defined

In [9]:
flintstones = ["Fred", "Barney", "Wilma", "Betty", "Bambam", "Pebbles"]

flintstones.append("Dino")
print(flintstones)

['Fred', 'Barney', 'Wilma', 'Betty', 'Bambam', 'Pebbles', 'Dino']

In [10]:
flintstones = ["Fred", "Barney", "Wilma", "Betty", "Bambam", "Pebbles"]

flintstones[6,7] = "Dino", "Hoppy"

TypeError: list indices must be integers or slices, not tuple

In [11]:
flintstones[6] = "Dino"
flintstones[7[ = "Hoppy"

SyntaxError: invalid syntax (4242434707.py, line 2)

In [12]:
flintstones[6] = "Dino"
flintstones[7] = "Hoppy"

IndexError: list assignment index out of range

In [13]:
flintstones[5] = "Dino"
flintstones[6[ = "Hoppy"

SyntaxError: invalid syntax (1322569056.py, line 2)

In [14]:
flintstones[5] = "Dino"
flintstones[6] = "Hoppy"

IndexError: list assignment index out of range

In [16]:
advice = "Few things in life are as important as house training your pet dinosaur."
# Expected output:
# Few things in life are as important as
print(advice.split(" "))

['Few', 'things', 'in', 'life', 'are', 'as', 'important', 'as', 'house', 'training', 'your', 'pet', 'dinosaur.']

In [17]:
advice = advice.pop[0:8]

AttributeError: 'str' object has no attribute 'pop'

In [18]:
advice = "Few things in life are as important as house training your pet dinosaur."
# Expected output:
# Few things in life are as important as
advice = advice.split(" "))
advice = advice.pop[0:8]
advice = advice.join(" ")

SyntaxError: unmatched ')' (4218998912.py, line 4)

In [19]:
advice = "Few things in life are as important as house training your pet dinosaur."
# Expected output:
# Few things in life are as important as
advice = advice.split(" ")
advice = advice.pop[0:8]
advice = advice.join(" ")

TypeError: 'builtin_function_or_method' object is not subscriptable

In [20]:
advice = "Few things in life are as important as house training your pet dinosaur."
# Expected output:
# Few things in life are as important as
advice = advice.split(" "))
advice = advice.pop[0]
advice = advice.join(" ")

SyntaxError: unmatched ')' (1283144603.py, line 4)

In [21]:
advice = "Few things in life are as important as house training your pet dinosaur."
# Expected output:
# Few things in life are as important as
advice = advice.split(" ")
advice = advice.pop[0]
advice = advice.join(" ")

TypeError: 'builtin_function_or_method' object is not subscriptable

In [22]:
advice = "Few things in life are as important as house training your pet dinosaur."
# Expected output:
# Few things in life are as important as
advice = advice.split(" ")
advice = advice.pop(0:8)
advice = advice.join(" ")

SyntaxError: invalid syntax (4064742090.py, line 5)

In [24]:
advice = "Few things in life are as important as house training your pet dinosaur."
# Expected output:
# Few things in life are as important as
advice = advice.split(" ")
for word in advice:
    if word != "house":
        advice.pop(0)
    else:
        advice.pop(0)
        advice = advice.join(" ")
        
print(advice)

AttributeError: 'list' object has no attribute 'join'

In [25]:
advice = "Few things in life are as important as house training your pet dinosaur."
# Expected output:
# Few things in life are as important as
advice = advice.split(" ")
for word in advice:
    if word != "house":
        advice.pop(0)
    else:
        advice.pop(0)
        advice = " ".join(advice)
        
print(advice)

AttributeError: 'str' object has no attribute 'pop'

In [26]:
advice = "Few things in life are as important as house training your pet dinosaur."
# Expected output:
# Few things in life are as important as
advice = advice.split(" ")

for word in advice:
    if word != "house":
        advice.pop(0)
    else:
        advice.pop(0)
        advice = advice.join(" ")
        
print(advice)

AttributeError: 'list' object has no attribute 'join'

In [28]:
advice = "Few things in life are as important as house training your pet dinosaur."
# Expected output:
# Few things in life are as important as
advice = advice.split(" ")
print(advice)
for word in advice:
    if word != "house":
        advice.pop(0)
    else:
        advice.pop(0)
        print(advice)
        advice = " ".join(advice)
        
print(advice)

['Few', 'things', 'in', 'life', 'are', 'as', 'important', 'as', 'house', 'training', 'your', 'pet', 'dinosaur.']
['as', 'important', 'as', 'house', 'training', 'your', 'pet', 'dinosaur.']

AttributeError: 'str' object has no attribute 'pop'

In [34]:
advice = "Few things in life are as important as house training your pet dinosaur."
# Expected output:
# Few things in life are as important as
advice = advice.split(" ")
advice.pop(-1)
advice.pop(-1)
advice.pop(-1)
advice.pop(-1)
advice.pop(-1)

advice = " ".join(advice)
print(advice)

Few things in life are as important as

In [35]:
print(advice.split("house")[0])

Few things in life are as important as

In [36]:
print(advice.split("house")[1])

IndexError: list index out of range

In [37]:
advice = "Few things in life are as important as house training your pet dinosaur."
# Expected output:
# Few things in life are as important as
print(advice.split("house")[0])

Few things in life are as important as

In [38]:
advice = "Few things in life are as important as house training your pet dinosaur."
# Expected output:
# Few things in life are as important as
print(advice.split("house")[1])

 training your pet dinosaur.

In [39]:
advice = "Few things in life are as important as house training your pet dinosaur."
advice = advice.split(" ")
print(advice.find("important"))

AttributeError: 'list' object has no attribute 'find'

In [41]:
advice = "Few things in life are as important as house training your pet dinosaur."
print(advice.find("important"))

26

In [42]:
numbers = [1, 2, 3, 4, 5]

numbers = list(numbers.reversed())
print(numbers)

AttributeError: 'list' object has no attribute 'reversed'

In [43]:
numbers = [1, 2, 3, 4, 5]

numbers = list(.reversed(numbers))
print(numbers)

SyntaxError: invalid syntax (506136066.py, line 3)

In [44]:
numbers = [1, 2, 3, 4, 5]

numbers = list(reversed(numbers))
print(numbers)

[5, 4, 3, 2, 1]

In [45]:
numbers = [1, 2, 3, 4, 5]

print(numbers(4,0,-1))

TypeError: 'list' object is not callable

In [46]:
numbers = [1, 2, 3, 4, 5]

print(numbers[4,0,-1])

TypeError: list indices must be integers or slices, not tuple

In [48]:
numbers = [1, 2, 3, 4, 5, 15, 16, 17, 95, 96, 99]

number1 = 8  # False (not in numbers)
number2 = 95 # True (in numbers)

print(number1 in numbers)
print(number2 in numbers)

False
True

In [49]:
ten_onehundred = list(range(10,100,1))

In [50]:
print(ten_onehundred)

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [51]:
ten_onehundred = list(range(10,101,1))
print(45 in ten_onehundred)
print(100 in ten_onehundred)
print(101 in ten_onehundred)

True
True
False

In [52]:
numbers = [1, 2, 3, 4, 5]
numbers = numbers.pop(2)
print(numbers)

3

In [53]:
numbers = [1, 2, 3, 4, 5]
numbers.pop(2)
print(numbers)

[1, 2, 4, 5]

In [54]:

numbers = [1, 2, 3, 4]
table = {'field1': 1, 'field2': 2, 'field3': 3, 'field4': 4}
print(table.isinstance(list))

AttributeError: 'dict' object has no attribute 'isinstance'

In [55]:
numbers = [1, 2, 3, 4]
table = {'field1': 1, 'field2': 2, 'field3': 3, 'field4': 4}

print(isinstance(numbers, list))

True

In [56]:
title = "Flintstone Family Members"
print(title : ^30)

SyntaxError: invalid syntax (2884371968.py, line 2)

In [57]:
title = "Flintstone Family Members"
print(f"{{title} : ^30}")

SyntaxError: f-string: single '}' is not allowed (1299545577.py, line 2)

In [58]:
title = "Flintstone Family Members"
centered_title = title.center(40)
print(centered_title)

       Flintstone Family Members

In [59]:
statement1 = "The Flintstones Rock!"
statement2 = "Easy come, easy go."

print(statement1.count('t'), statement2.count('t'))

2 0

In [60]:
ages = {'Herman': 32, 'Lily': 30, 'Grandpa': 402, 'Eddie': 10}

'Spot' in ages

False

In [61]:
ages = {'Herman': 32, 'Lily': 30, 'Grandpa': 5843, 'Eddie': 10}

additional_ages = {'Marilyn': 22, 'Spot': 237}

ages.update(additional_ages)

In [62]:
ages = {'Herman': 32, 'Lily': 30, 'Grandpa': 5843, 'Eddie': 10}

additional_ages = {'Marilyn': 22, 'Spot': 237}

ages.update(additional_ages)

print(ages)

{'Herman': 32, 'Lily': 30, 'Grandpa': 5843, 'Eddie': 10, 'Marilyn': 22, 'Spot': 237}

In [63]:
ages = {'Herman': 32, 'Lily': 30, 'Grandpa': 5843, 'Eddie': 10}

additional_ages = {'Marilyn': 22, 'Spot': 237}

ages |= additional_ages

print(ages)

{'Herman': 32, 'Lily': 30, 'Grandpa': 5843, 'Eddie': 10, 'Marilyn': 22, 'Spot': 237}

In [64]:
def is_color_valid(color):
    return color == "blue" or color == "green"

In [65]:
color = green
is_color_valid(color)

NameError: name 'green' is not defined

In [66]:
def is_color_valid(color):
    return color == "blue" or color == "green"

color = "green"
is_color_valid(color)

True

In [67]:
def is_color_valid(color):
   return not color not "blue" or "green"

color = "green"
is_color_valid(color)

SyntaxError: invalid syntax (4145071055.py, line 2)

In [68]:
def is_color_valid(color):
    return not (color != "blue" or color != "green")

color = "green"
is_color_valid(color)

False

In [69]:
def is_color_valid(color):
    return (color != "blue" or color != "green")

color = "green"
is_color_valid(color)

True

In [70]:
def is_color_valid(color):
    return (color != "blue" or color != "green")

color = "blue"
is_color_valid(color)

True

In [71]:
def is_color_valid(color):
    return not (color != "blue" or color != "green")

color = "gg"
is_color_valid(color)

False

In [72]:
flintstones_rock = "The Flintstones Rock"

counter = 1

while counter <= 10:
    print(counter * -)
    counter += 1

SyntaxError: invalid syntax (3711874699.py, line 6)

In [73]:
flintstones_rock = "The Flintstones Rock"

counter = 1

while counter <= 10:
    print((counter * '-'))
    counter += 1

-
--
---
----
-----
------
-------
--------
---------
----------

In [75]:
def factors(number):
    divisor = number
    result = []
    while divisor != 0:
        if number % divisor == 0:
            result.append(number // divisor)
        divisor -= 1
    return result

factors(4)

In [77]:
def factors(number):
    divisor = number
    result = []
    while divisor != 0:
        if number < 0:
            return "Must be a positive integer"
        elif number % divisor == 0:
            result.append(number // divisor)
        divisor -= 1
    return result

print(factors(4))

[1, 2, 4]

In [78]:
def factors(number):
    divisor = number
    result = []
    while divisor != 0:
        if number < 0:
            return "Must be a positive integer"
        elif number % divisor == 0:
            result.append(number // divisor)
        divisor -= 1
    return result

print(factors(-4))

Must be a positive integer

In [ ]:
def is_an_ip_number(str):
    if str.isdigit():
        number = int(str)
        return 0 <= number <= 255
    return False
    
def is_dot_separated_ip_address(input_string):
    dot_separated_words = input_string.split(".")
    while len(dot_separated_words) == 4:
        word = dot_separated_words.pop()
        if not is_an_ip_number(word):
            return False

    return True